---
- name: Install MariaDB server
  ansible.builtin.dnf:
    name:
    - mariadb-server
    - python3-PyMySQL
    state: present

- name: Start and enable MariaDB service
  ansible.builtin.service:
    name: mariadb
    state: started
    enabled: true

- name: Open MariaDB port in firewall
  ansible.builtin.firewalld:
    port: 3306/tcp
    permanent: true
    state: enabled
    immediate: true